$body-color = #252525
$body-bg-color = #fefefe
$a-color = #000a96
$a-color-hover = #83a599

$logo-background-color = #ddd

$button-background-color = #353535

$pastell-color-1 = #ffff7c
$pastell-color-2 = #ff6385
$pastell-color-3 = #00ef91