doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    block title
      title litto.work

    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/main.css')

    block meta
      meta(property='og:title' content='littography')
      meta(property='og:image' content='http://a.litto.work/img/catalogue/01_all_in.jpg')
      meta(
        name='description'
        property='og:description'
        content='littography'
      )

    block styles

  body.nojs
    div#wrapper
      block content
        div.content empty body content
