extends ../layout

block title
  title litto.work - catalog

block content
  header.main
    div
      img(src='/img/cover.jpg')

    h1
      | Litto-
      br
      | graphie

    div.description
      p It started with a simple picture in front of the mirror, naked.
      p
        | I realised I spent way too much time on a selfie,
        br
        | so I used it to produce a series of artworks that express some parts of my personality.

  div.image-container
    - var colorId = 0

    for image in images
      -
        colorId += 1;
        if (colorId === 4) {
          colorId = 1;
        }

      section(id='image-' + image.id class='image color-' + colorId)
        div.margin-wrapper
          img(src='/img/people/' + image.src)

  footer.main
    div.content
      h3 Impressum

      h4 Artist & Design
      p Litto = Daniela Weiss

      h4 Programming
      p Jascha Ehrenreich

    div.copy
      span &copy; 2016
      | &nbsp;
      a(href='http://www.litto.work' target='utopia') Litto
